################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/TrumpSuitGame/bin/Debug/net8.0-android34.0
/TrumpSuitGame/obj
