################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/TrumpSuitGame/.vs/ProjectEvaluation
/TrumpSuitGame/bin
/TrumpSuitGame/obj
/TrumpSuitGame/Properties/PublishProfiles
